.mi-block-menu {
    display: grid;
    grid-template-columns: 40px auto 300px;
    border: 1px solid var(--row-divider-color);
}

.mi-block-menu > div:not(*:last-child) {
    border-right: 1px solid var(--row-divider-color);
}
.mi-block-menu .mi-active {
    background-color: var(--drawer-gray-section-color);
}